@page "/forgotpassword"
@using MudBlazor
@layout NoNavLayout
@using System.ComponentModel.DataAnnotations
@using MudBlazorUI.Auth.Services
@using Newtonsoft.Json


<div class="page">
    <MudLayout>
        <div style="background-image: url('Assets/background-login.png'); background-size: cover; background-position: center; height: 430px; width: 100%; position: relative;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                <MudImage Src="Assets/image3.png" Alt="UOR" Width="80" Height="100" Elevation="30" Class="rounded-lg" />
                <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px; padding-right: 20px;">
                    <MudText Typo="Typo.h3" Class="pa-2" Style="@($"color:{Colors.Grey.Lighten5}; font-weight: bold;")">FACULTY OF ENGINEERING</MudText>
                    <MudText Typo="Typo.h5" Class="pa-2" Style="@($"color:{Colors.Grey.Lighten5}; font-weight: bold;")">UNIVERSITY OF RUHUNA</MudText>
                </div>
                <MudImage Src="Assets/image2.png" Alt="UOR" Width="80" Height="100" Elevation="30" Class="rounded-lg" />
            </div>
        </div>
        <div style="display: flex; justify-content: center; position: relative; margin-top: -80px; margin-bottom: 90px; margin-left: 40px;">
            <MudPaper Style="@($"color:{Colors.Purple.Darken3}; font-size: 13px;")">
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <MudGrid Justify="Justify.Center" Class="mt-n10 pa-20">
                        <MudCard Outlined="true" Style="@($"mx-auto; border-radius: 10px; height: 400px; width:190%")">
                            <MudCardContent Class="pa-20">
                                <MudText Align="Align.Center" Style="@($"color:{Colors.Blue.Darken4}; padding-top:10px")" Typo="Typo.h4">
                                    <span style="font-weight: bold; font-family: 'Inter'; font-size:23px">Forgot Password ?</span>
                                </MudText>
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 5px; text-align: center;">
                                    <span style="color: gray; font-family: 'BodyS'; font-size: 15px;">Reset password</span>
                                    <br />
                                    <br />
                                    <span style="color:black; font-family: 'BodyS'; font-size: 15px; margin-top: 10px;">Enter your email to reset the password</span>
                                </div>
                                <MudText Style="@($"color:{Colors.Shades.Black}; padding-top:10px; padding-left:3px")" Typo="Typo.body1" Class="mt-4">
                                    <span style="font-family: 'BodyS'; font-size: 15px;">Email</span>
                                </MudText>
                                <MudTextField Style="@($"height: 40px; width: 330px; color: {Colors.Grey.Lighten1}; background-color: {Colors.Shades.White}; border-radius: 15px; font-size: 13px; padding: 0 3px; ")"
                                              Class="mt-2" Variant="Variant.Outlined"
                                              @bind-Value="model.Email" For="@(() => model.Email)" LabelCentered="true" />
                                
                            </MudCardContent>
                            <MudCardActions Style="@($"padding: 2px 10px 10px 10px; mt-20px;")">
                                <MudButton @onclick="Submit" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Style="@($"width: 100%; height: 40px; border-radius: 7px; display: flex; justify-content: center; margin: auto; margin-bottom: 20px; margin-top: 15px;")">
                                    <span style="font-family: 'Inter'; font-size: 12px;">Send Link</span>
                                </MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudGrid>
                </EditForm>
            </MudPaper>
        </div>
    </MudLayout>
</div> 
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    ForgotPasswordForm model = new ForgotPasswordForm();
    bool success;


    protected async override Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
        snackbar.Clear();
        snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        await base.OnInitializedAsync();
    }

    public class ForgotPasswordForm
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string Email { get; set; }
    }

    private void OnValidSubmit()
    {
        success = true; // For demo purpose
        StateHasChanged();
    }



    private async void Submit()
    {

        var result = await accountService.ForgotPassword(model.Email);
        snackbar.Clear();
        snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        if (result ==true)
        {
            snackbar.Add("We have sent Verification link for your Email", Severity.Success);
   
        }
        else snackbar.Add( "Please Try again", Severity.Error);


    }
}
